*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
#wrapper{
    margin: 25px auto;
    width: 1000px;
    height: 700px;
    border: thin red dashed;
}
.button{
    border: black thin solid;
    border-radius: 5px;
    padding: 2px 3px;
}